<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблицы</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>       
    a {
        color: #000000;
        text-decoration: none;
        background-color: lavender;
        border-radius: 30px;
        padding: 5px;
        vertical-align: -webkit-baseline-middle;
    }
        li{
        margin: inherit;
    }
</style>
</head>
<body>
    <h1 style="text-align: center">СВУ мессенджер</h1>
    <div class="container">
        <h1>Таблицы</h1>
        <ul>
            {% for table in tables %}
                <li><a href="{{ url_for('admin_table', table_name=table) }}">{{ table }}</a></li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('admin_index') }}" class="btn btn-secondary">Вернуться к панели администратора</a>
    </div>
</body>
</html>