<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменить запись</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>       
    a {
        color: #000000;
        text-decoration: none;
        background-color: lavender;
        border-radius: 30px;
        padding: 5px;
        vertical-align: -webkit-baseline-middle;
    }
</style>
</head>
<body>
    <h1 style="text-align: center">СВУ мессенджер</h1>
    <div class="container">
        <h1>Изменить запись</h1>
        <form action="{{ url_for('admin_update_record', table_name=table_name, record_id=record[0]) }}" method="POST">
            {% for i in range(len_columns) %}
                <div class="form-group">
                    <label for="{{ columns[i] }}">{{ column_names[i] }}</label>
                    <input type="text" class="form-control" id="{{ columns[i] }}" name="{{ columns[i] }}" value="{{ record[columns.index(columns[i])] }}">
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            <a href="{{ url_for('admin_table', table_name=table_name) }}" class="btn btn-secondary">Отменить</a>
        </form>
    </div>
</body>
</html>