<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выполнить SQL запрос</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>       
    a {
        color: #000000;
        text-decoration: none;
        background-color: lavender;
        border-radius: 30px;
        padding: 5px;
        vertical-align: -webkit-baseline-middle;
    }
</style>
</head>
<body>
    <h1 style="text-align: center">СВУ мессенджер</h1>
    <div class="container">
        <h1>Execute SQL Queries</h1>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form action="{{ url_for('admin_sql') }}" method="POST">
            <div class="form-group">
                <label for="sql_query">SQL Query:</label>
                <textarea class="form-control" id="sql_query" name="sql_query" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Execute</button>
            <a href="{{ url_for('admin_index') }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>